.Error404 {
    display: inline-block;
    border: 1px solid #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 90px;
    width: 400px;
}

.Header404 {
    font-size: 64pt;
    color: #ccc;
    position: absolute;
    top: -65px;
    left: -1px;
}

.Body404 {
    font-size: 25pt;
    z-index: 10;
    position: absolute;
    text-align: center;
    padding:25px;
}

.TemperatureImage {
    width: 100px;
    height: 100px;
    background-size: cover;
    display:table-cell;
}

.TemperatureImage img{
    -webkit-filter: drop-shadow(0px 0px 15px #fff);
    filter:         drop-shadow(0px 0px 15px #fff);

    width:100%;
    height:100%;
}

.Temperature {
    display: table-cell;
    vertical-align: middle;
    padding:5px;
}

.WDescription {
    display: table-cell;
    vertical-align: middle;

    padding:5px;
}

.WWidget{
    display:inline-block;
    border-radius: 10px;
    overflow: hidden;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.WHeader{
    padding:7px;
    font-size: 18pt;
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

.MainWeather{
    padding:20px;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20pt;
    color: #fff;
}

.WPressure {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.WindCompass {
    background: url('/img/Compass.png');
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: auto;
    display:table-cell;
}

.WindCompasDirection {
    background: url('/img/CompassDirection.png');
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: auto;
    display:table-cell;
    transition:5s;
}

.Wind{
    padding:20px;
}

.WindDirection{
    display:table-cell;
    vertical-align: middle;
    width: 200px;
}

.WindHeader{

}

.hidden{
    display:none;
}

.Clouds {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.Rain {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.Snow {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.WeatherWidget {
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}