//Error 404 page
html
    head
        link( href="/css/style.css", rel="stylesheet", type="text/css" )
    body
        .Error404
            .Header404 404
            .Body404 The page was not found