//Error 404 page
html
   head
      link( href="/css/style.css", rel="stylesheet", type="text/css" )
      script(src="/js/lib/jquery.js",type="text/javascript",)
      script(src="/js/lib/jquery.cookie.js",type="text/javascript",)
      script(src="/js/WeatherWidget.js",type="text/javascript",)
      script(src="/js/index.js",type="text/javascript",)

      meta(charset="UTF-8")
   body
      .WeatherWidget