//Error 404 page
html
    head
        script(src="/js/lib/jquery.js",type="text/javascript",)
        script(src="/js/lib/jquery.cookie.js",type="text/javascript",)
        script(src="/js/stats.js",type="text/javascript",)
        script.
            var stats=new Statistics('.Statistics');

        meta(charset="UTF-8")
    body
        .Statistics